body {
    background-color: black;
  color: #ffffff;
}

.container {
  padding-top: 20px;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.input-group input {
  color: #000000;
  background-color: #ffffff;
}

.input-group button, .btn {
  color: #ffffff;
  background-color: #007bff;
  position: relative;
  display: flex;
  width: 100%;
  z-index: 1;
  transition: all 0.18s ease;
  backdrop-filter: blur(40px);
  backface-visibility: hidden;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  transition: all 0.3s ease;
  filter: blur(20px);
  animation: rotate 2s infinite linear;
}

.btn:hover:before {
  background-color: rgba(255, 255, 255, 0.5);
}

.alert-danger {
  color: #ffffff;
  background-color: rgba(220, 53, 69, 0.9);
}

  
  .container {
    padding-top: 20px;
  }
  
  .card {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
  }
  
  .input-group input {
    color: #000000;
    background-color: #ffffff;
  }
  
  .input-group button, .btn {
    color: #ffffff;
    background-color: #007bff;
    position: relative;
    display: flex;
    width: 100%;
    z-index: 1;
    transition: all 0.18s ease;
    backdrop-filter: blur(40px);
    backface-visibility: hidden;
  }
  
  .btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    transition: all 0.3s ease;
    filter: blur(20px);
    animation: rotate 2s infinite linear;
  }
  
  .btn:hover:before {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .alert-danger {
    color: #ffffff;
    background-color: rgba(220, 53, 69, 0.9);
  }
  